
<div layout="row">

<!-- 	<button class="btn btn-info" ng-click="doShowMe()">Play</button>
	<button class="btn btn-danger" ng-click="dontShowMe()">Pause</button>
	<img src="http://i.imgur.com/YU6d2RV.gif" ng-if="showMe" height="34px" width="184px"> -->
	<audio src="clocks.mp3" controls style="width: 100%;"></audio>
</div>

<div layout="row">
	  <div class="tabsdemoDynamicHeight">
	    <md-content class="md-padding">
	      <md-tabs md-dynamic-height="" md-border-bottom="">
	        <md-tab label="Queue" ui-sref="jukeQueue">
	          <md-content class="md-padding">
	            <div ui-view></div>
	          </md-content>
	        </md-tab>
	        <md-tab label="Songs" ui-sref="media">
	          <md-content class="md-padding">
	            <div ui-view></div>
	          </md-content>
	        </md-tab>
	      </md-tabs>
	    </md-content>
	  </div>
</div>